<launch>
	<arg name="bag_set" default="2" />
	<arg name="bag_fn" default="11_f" />
	<arg name="every_n_frames" default="" />

	<arg name="bagfile_path" default="/home/ruijia/udacity_competition/Didi-Release-2/Data/$(arg bag_set)/$(arg bag_fn).bag" />
	
	<arg name="kojaks_path" default="$(find kojaks)" />
	<arg name="tf_path" default="$(find kojaks)/launch/tf.launch" />

	<include file="$(arg tf_path)" />
	<node pkg="velodyne_pointcloud" type="cloud_node" name="velodyne_cloud_node" args="_calibration:=/opt/ros/indigo/share/velodyne_pointcloud/params/32db.yaml" />
	<node pkg="rviz" type="rviz" name="rviz_default" args="-d $(find kojaks)/rviz/default.rviz" />
	<node pkg="kojaks" type="tracklet_viz.py" name="tracklet_viz" output="screen" args="$(arg kojaks_path)/true_tracklets/$(arg bag_set)/$(arg bag_fn)/tracklet_labels.xml" />
	<node pkg="kojaks" type="kojaks_node.py" name="kojaks_trainer" required="true" output="screen" args="$(arg bagfile_path) $(arg kojaks_path) $(arg bag_set) $(arg bag_fn) $(arg every_n_frames)"/>
</launch>