<launch>
	<arg name="bagfile_path" default="/home/ruijia/udacity_competition/Didi-Release-2/Data/2/8_f.bag" />
	<arg name="truexml_path" default="$(find kojaks)/true_tracklets/2/8_f/tracklet_labels.xml" />
	<arg name="genxml_name" default="Set2-8_f" />

	<arg name="genfiles_dir" default="$(find kojaks)/genfiles/" />
	<arg name="tf_path" default="$(find kojaks)/launch/tf.launch" />

	<include file="$(arg tf_path)" />
	<node pkg="velodyne_pointcloud" type="cloud_node" name="velodyne_cloud_node" args="_calibration:=/opt/ros/indigo/share/velodyne_pointcloud/params/32db.yaml" />
	<node pkg="rviz" type="rviz" name="rviz_default" args="-d $(find kojaks)/rviz/default.rviz" />
	<node pkg="kojaks" type="kojaks_node.py" name="kojaks_trainer" required="true" output="screen" args="$(arg bagfile_path) $(arg truexml_path) $(arg genfiles_dir) $(arg genxml_name)" />
	<node pkg="kojaks" type="tracklet_viz.py" name="tracklet_viz" args="$(arg truexml_path)" />
	<node pkg="rosbag" type="play" name="rosbag_play" args="$(arg bagfile_path)" required="false" output="screen" />
</launch>